[submodule "zmusic"]
	path = zmusic
	url = https://github.com/ZDoom/ZMusic.git
[submodule "upstream"]
	path = upstream
	url = https://github.com/savegame/gzdoom.git
	branch = g4.7.1
[submodule "libsdl"]
	path = libsdl
	url = git@github.com:savegame/SDL.git
